.jumbotron{ 
    font-size: 50px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9ecef;
    color: #8DC640;
    padding: 50px;
}

.container{
    background-color: #e9ecef;
    height: 400px;
}

.header{
    margin-top: 30px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=email],input[type=password]{
    padding: 8px 20px;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
}

input[type=email]{
    margin-top: 30px;
}

input[type=password]{
    margin-bottom: 20px;
    margin-top: 30px;
}

.reset {
    font-size: 22px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-dark.custom-btn{
    background-color: #8DC640;
    border-color: #e9ecef;
    color: #000;
    border-radius: 5px;
    font-size: 18px;
    padding: 6px 20px;
    
}

.btn-dark.custom-btn2{
    background-color: #8DC640;
    border-color: #e9ecef;
    color: #000;
    border-radius: 5px;
    font-size: 18px;
    padding: 6px 20px;
    
}

.btn-dark.custom-btn:hover{
    background-color: #7CB53F;
}

.btn-dark.custom-btn2:hover{
    background-color: #7CB53F;
}